body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #2ABFAB;
    flex-direction: column;
    margin: 0;
    user-select: none;
}

#loginPic {
    width: 50%;
    height: 50%;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-position: center;
    margin: 0; /* Ensure body has no margin */
    border-radius: 10px;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 50%;
    text-align: center;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #2ABFAB;
    width: 100%;
    font-size: 16px;
    transition: all .25s;
}
button:hover {
    letter-spacing: 5px;
    background-color: #007bff;
}

.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3); /* Light border */
    border-radius: 50%;
    border-top-color: #fff;  /* White top for contrast */
    animation: spin 0.6s linear infinite;
    vertical-align: middle;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  


.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    #kartsInPit .box {
        width: 16vw;
        height: 8vh;
    }
    .box {
        width: 14vw;
    }
    .container {
        width: 100%;
    }
}